@using BlogApplication.Models.Constants.Controllers
@model BlogApplication.Models.ViewModels.Manage.ManageChangePasswordViewModel

<div class="container mt-5">
    <div class="row">
        <h2 class="mx-auto">Change Password</h2>
    </div>
    <div class="row">
        @using (Html.BeginForm(
            ActionNames.ChangePassword,
            ControllerNames.Manage,
            FormMethod.Post,
            new {@class = "col-md-6 mx-auto", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})
            @Html.DisplayFor(t => t.OldPassword, "FormGroups/PasswordFormGroupComponent")
            @Html.DisplayFor(t => t.NewPassword, "FormGroups/PasswordFormGroupComponent")
            @Html.DisplayFor(t => t.ConfirmPassword, "FormGroups/PasswordFormGroupComponent")

            <div class="form-group">
                <input class="btn btn-block btn-lg btn-outline-primary" type="submit" value="Change password">
            </div>

            <div class="form-group">
                <p class="text-center">
                    @Html.ActionLink("Back to my profile", ActionNames.Index)
                </p>
            </div>
        }
    </div>
</div>