@using BlogApplication.Models.Constants.Controllers
@model BlogApplication.Models.ViewModels.Account.AccountResetPasswordViewModel

<div class="container mt-5">
    <div class="row">
        <h2 class="mx-auto">Reset password</h2>
    </div>

    <div class="row">
        @using (Html.BeginForm(
            ActionNames.ResetPassword,
            ControllerNames.Account,
            FormMethod.Post,
            new {@class = "col-md-6 mx-auto", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.Code)
            @Html.DisplayFor(t => t.Email, "FormGroups/TextBoxFormGroupComponent")
            @Html.DisplayFor(t => t.Password, "FormGroups/PasswordFormGroupComponent")
            @Html.DisplayFor(t => t.ConfirmPassword, "FormGroups/PasswordFormGroupComponent")

            <div class="form-group">
                <input class="btn btn-block btn-lg btn-outline-primary" type="submit" value="Reset">
            </div>
        }
    </div>
</div>